h3#Description {
	background-color: var(--main-light-color);

    margin: 0;
	padding: 20px;
	width: 100%;

    overflow-wrap: break-word;
    text-wrap: wrap;
}

div#Tags {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

div#Tags span {
    border: 1px solid var(--main-accent-color);

    padding: 5px 10px;
    margin: 10px 5px 5px;

    border-radius: 25px;
}