#Selection__galleryCard {
	padding: 20px;
	position: relative;

	& div:first-of-type {
		position: relative;
        background-color: white;
        z-index: 10;
	}

	& > div {
		position: absolute;

        background-color: white;
	}
}

#GalleryHome {
	& #Selection {
		display: flex;
		flex-wrap: wrap;
	}
}
