#CanvasHome {
	display: flex;
	flex-direction: column;

	align-self: center;

	& button {
		width: fit-content;
		height: fit-content;
		text-wrap: nowrap;
	}
}

div#Buttons {
	background-color: var(--main-light-color);
	
	display: flex;
}

#CanvasContainer {
	width: fit-content;
	height: fit-content;

	overflow: hidden;

	box-shadow: 0 0 20px var(--main-light-color);

	border-radius: 5px;
	border: 1px solid var(--main-accent-color);
}

canvas {
	background-color: var(--White);

	cursor: crosshair;

	height: 600px;
	width: 800px;
}

