#CanvasHome {
	display: flex;
	flex-direction: column;
	align-self: start;

	& h1 {
		color: var(--text-color);
		animation: distort 1.5s ease-in-out infinite;
		font-size: 4rem;
	}

	& button {
		width: 10%;
	}
}

div#Buttons {
	display: flex;
	justify-content: left;

	margin: 20px;
	border-radius: 20px;
}

canvas {
	background-color: white;
	border-radius: 5px;
	border: 2px solid var(--main-accent-color);

	box-shadow: 0 0 20px var(--main-light-color);

	cursor: crosshair;

	height: 720px;
	width: 1280px;
}

@media screen and (max-width: 1575px) {
	#CanvasHome {
		align-self: center;
	}
}