#modal form {
	display: flex;
	min-width: 30vw;

	& h1 {
		align-self: center;
	}

	& > div {
		position: relative;
		display: flex;
		align-items: center;
	}

	& > span {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;

		width: 50%;
	}

	& label {
		position: absolute;
		opacity: 50%;
		padding: 5px;
		top: 1.2rem;
		transition: all 200ms ease;
	}

	& div:focus-within label {
		top: 0;
		z-index: 102;
	}

	& input,
	& textarea {
		width: 100%;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;

		font-size: 1.2rem;

		border: 1px solid var(--main-color);

		transition: all 200ms ease;
	}

	& div:first-of-type input {
		border-radius: 5px 5px 0 0;
	}

	& div:last-of-type input,
	& div:last-of-type textarea {
		border-radius: 0 0 5px 5px;
	}

	& input:focus,
	& textarea:focus {
		border-color: var(--main-color);
		box-shadow: 5px 5px 5px black;
		z-index: 101;
	}

	& button {
		width: 50%;
		text-wrap: nowrap;
	}

	& p {
		display: flex;
		align-items: center;
		color: var(--accent-text-color);

		& svg {
			margin-right: 5px;
		}
	}
}
