@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
		@apply bg-neutral-950;
		@apply text-white;
		@apply font-serif;
		@apply h-svh;
	}

	body {
		@apply bg-[url("/dark-wall.png")];
	}

	*::-webkit-scrollbar {
		@apply bg-neutral-900/30;
		@apply w-3;
	}

	*::-webkit-scrollbar-thumb {
		@apply bg-neutral-600/80;
		@apply hover:bg-neutral-500/80;
		@apply transition-colors;
		@apply cursor-grab;
		@apply rounded-full;
	}

	*::-webkit-scrollbar-thumb:active {
		@apply cursor-grabbing;
	}

	#nav-filter::-webkit-scrollbar {
		@apply hidden;
	}
}

@layer utilities {
	.purple-gradient {
		@apply bg-gradient-to-r;
		@apply from-violet-500;
		@apply to-fuchsia-500;
	}
	.pixelated {
		image-rendering: pixelated;
	}
}

.frame {
	padding: 2rem;
	border-style: solid;
	border-width: 15px;
	border-top-color: #161616;
	border-right-color: #000;
	border-bottom-color: #161616;
	border-left-color:  #000;
	box-shadow: 2px 2px 4px rgba(0,0,0,.6);
	box-shadow:
		inset 0px 10px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		0 .3em .2em #fff;
}

.string:before{
  content: '';
  position: absolute;
  top: -23px;
  left: calc(50% - 10px);
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 1;
}

.string:after{
  content: '';
  position: absolute;
  width: 20px; 
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px; 
  left: calc(50% - 10px);
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}