#Galleries > div {
	display: flex;
}

#Galleries {
	border: 1px solid var(--main-accent-color);
	box-shadow: 0 0 20px var(--main-light-color);

	border-radius: 5px;
	width: 80%;

	& #Selection {
		display: flex;
		flex-wrap: wrap;
	}
}

#GalleryButtons {
    background-color: var(--main-light-color);
}