#Navigation {
	position: sticky;
	top: 0;

	display: flex;

	justify-content: space-between;

	box-sizing: border-box;
	overflow: visible;

	overflow: hidden;

	background-color: var(--main-light-color);
	box-shadow: 0 5px 0 var(--main-light-accent-color);

	width: 100%;
	height: fit-content;

	/* border-radius: 0 0 10px 10px; */
	z-index: 10;

	text-wrap: nowrap;

	& span {
		display: flex;
		border: none;
	}

	& span#Tags {
		padding: 20px;
		padding-bottom: 10px;
	}

	& span#Tags div {
		display: flex;
		align-items: center;
		margin: 10px;
	}

	& span#Tags div svg {
		font-size: 1rem;
	}

	& p {
		color: var(--main-bg-color);
		margin: 0;
		margin-bottom: 5px;
	}

	& div {
		color: var(--main-bg-color);
	}

	& svg {
		color: var(--main-bg-color);
		margin-right: 10px;
		font-size: 1.5rem;
	}

	& a {
		display: flex;
		color: var(--main-bg-color);

		border-radius: 10px;

		text-decoration: none;
		font-size: 1.2rem;

		padding: 20px;
		width: fit-content;
		height: 100%;

		transition: all 500ms ease-in-out;
	}

	& a:hover {
		background-color: var(--main-light-accent-color);
		animation: distort 1.4s ease-in-out infinite;
	}

	& .active {
		background-color: var(--main-light-accent-color);
		animation: distort 1.6s ease-in-out infinite;
	}

	& button {
		display: flex;
		align-items: center;

		border: none;
		border-radius: 10px;

		background-color: var(--main-light-color);
		color: var(--main-bg-color);

		padding: 10px;
		text-align: left;
		font-size: 1.1rem;
		width: 100%;
		transition: all 500ms ease-in-out;
	}

	& button:hover {
		background-color: var(--main-light-accent-color);
		animation: distort 1.4s ease-in-out infinite;
	}

	& section div {
		margin: 20px;
	}

	& section button {
		margin: 0;
		box-shadow: none;
	}
}

#Navigation * {
	font-weight: bold;
}

#Profile {
	overflow: hidden;
	background-color: var(--main-light-color);
}

.profile-dropdown {
	display: flex;
	animation: popin 500ms ease;
}

@keyframes popin {
	from {
		opacity: 0%;
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.hidden {
	display: none;
}
