#Navigation {
	display: flex;
	flex-direction: column;
	justify-self: flex-end;

	box-sizing: border-box;

	background-color: var(--main-light-color);
	height: 100%;
	width: fit-content;
	min-width: 15%;

	border-radius: 10px;
	/* border: 2px solid var(--main-accent-color); */
	/* box-shadow: 0 0 20px var(--main-light-color); */

	& span {
		border-bottom: 3px solid var(--main-light-accent-color);
	}

	& div {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 20px 0;
	}

	& div:first-of-type {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	& #Tags div:first-of-type {
		border-radius: 0;
	}

	& p {
		color: var(--main-accent-color);
		margin: 20px;
		margin-bottom: 5px;
	}

	& svg {
		color: var(--main-accent-color);
		margin-left: 20px;
		margin-right: 10px;
        font-size: 1.2rem;
	}

	& a {
		color: var(--main-accent-t-color);
		text-decoration: none;
		font-size: 1.2rem;
	}

	& div:hover {
		transition: all 500ms ease;
		background-color: var(--main-light-accent-color);
	}

	& button {
		border: none;
		background-color: var(--main-light-color);
		padding: 10px;
		text-align: left;
	}

	& button:hover {
		transition: all 500ms ease;
		background-color: var(--main-light-accent-color);
	}
}

.hidden {
	display: none;
}
